{{ partial "header" . }}

<div id="main">

    {{ range (.Paginator 6).Pages }} {{ partial "list-item" . }} {{ end }}

</div>

{{ if or .Paginator.HasPrev .Paginator.HasNext }}

    <div class="pages">

        {{ if .Paginator.HasPrev }}
            <a class="pull-left" href="{{ .Paginator.Prev.URL }}" rel="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
        {{ end }}

        {{ if .Paginator.HasNext }}
            <a class="pull-right" href="{{ .Paginator.Next.URL }}" rel="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        {{ end }}

    </div>

{{ end }}

{{ partial "footer" . }}
