{{ partial "header" . }}

<div id="main">

    {{ if .Params.ShowTitle  }}

    <h1 {{if .Params.Header}}class="header"{{end}}>{{ .Title }}</h1>

      {{ if .Description }}
         <p>{{ .Description | markdownify }}</p>
      {{ end }}

    {{ end }}

    {{ range (.Paginator 6).Pages }} {{ partial "list-item" . }} {{ end }}

</div>

{{ if or .Paginator.HasPrev .Paginator.HasNext }}

    <div class="pages clearfix">

        {{ if .Paginator.HasPrev }}
            <a class="pull-left" href="{{ .Paginator.Prev.URL }}" rel="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
        {{ end }}

        {{ if .Paginator.HasNext }}
            <a class="pull-right" href="{{ .Paginator.Next.URL }}" rel="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        {{ end }}

    </div>

    {{ with .File }}
    {{ if eq (path.Base .Dir) "post" }}
    <div class="center">
      <a href="/archive">archives</a>
    </div>
    {{ end }}
    {{ end }}

{{ end }}

{{ partial "footer" . }}
