{{ partial "header" . }}

<div id="main">

    <div class="text-justify">{{ .Content }}</div>

</div>

</div>

<!-- related posts with the same tags -->
{{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

{{ if $related }}
<hr>

<div class="container">


    <div id="related">
        <h5>Related:</h5>

        {{ range $related }} {{ partial "list-item" . }} {{ end }}

    </div>


</div>

{{ end }}

<hr>

<div class="container">

	{{ if .Site.DisqusShortname }}
	  {{ template "_internal/disqus.html" . }}
	{{ end }}

</div>

{{ partial "footer" . }}
