
#header-title {
  padding: 10px 10px 0 10px;

  .logo-wrap {
    .logo {
      background-image: none;
      color: white;
      font-size: 3em;
      text-decoration: none;
      font-family: Source Code Pro, monospace;
    }
  }

  .subtitle-wrap {
    float: right;
  }

  img {
    float: left;
    border-radius: 50%;
    margin: 0 20px 10px 10px;
  }
}

.figure {
  .caption {
    display: none;
  }
}

#avatar {
  border-radius: 64px;
  border: 1px solid #9a9ea3;
  height: 128px;
  width: 128px;
}

.credit {
  .logo-wrap {
    a {
      font-size: 3em;
      font-family: Source Code Pro, monospace;
    }

    .logo {
      background: none;
    }
  }
}

img.intro {
  opacity: 0.2;
  margin: 16vh 0 0 -22vh;
  position: absolute;
  height: 45vh;
  width: 45vh;
}
