@media only print {
	#comments {
		display: none;
	}
	#header {
		display: none;
	}
	#sidebar {
		display: none;
	}
	#main-nav-mobile {
		display: none;
	}
	#footer {
		display: none;
	}
	.article-inner {
		.article-footer {
			display: none;
		}
	}
	#contact-info {
		display: block;
	}
}
