
#things {
  table {
    border: none;

    tr {
      border: none;

      td {
        vertical-align: top;
        border: none;
			  width: 140px;

				img {
    			height: 180px;
    			width: 140px;
					border: 1px solid #000;
  			}
      }

      td + td {
        padding-left: 1em;
				width: auto;
      }
    }
  }
  .fancybox + .caption {
    display: none;
  }
}
