
#things {

  .well {
    background-color: #fefefe;
    padding: 0.7em;
    img {
      width: 140px;
      height: 180px;
      float: left;
      margin-right: 30px;
    }
  }

  .fancybox + .caption {
    display: none;
  }
}
