
#timeline {
    .row {
        border-collapse: collapse;
        div {
            vertical-align: middle;
        }
        .dot {
            border: 1px dashed black;
            border-radius: 50%;
            width: 2em;
            height: 2em;
            .inner {
                border: 1px solid black;
                border-radius: 50%;
                margin: 4px;
                height: 100%;
                width: 100%;
            }
            display: inline-block;
        }

        .content {
            display: inline-block;
            border-bottom: 1px solid black;
        }
    }
    .border-right {
        border-right: 1px solid black;
    }

    .border-left {
        border-left: 1px solid black;
    }


}
