
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link href="https://fonts.googleapis.com/css?family=Inconsolata|Lora|Raleway" rel="stylesheet">
<style type="text/css">

#header {
	{{ if .Site.Params.HeaderColorBG }}
    background-color:  {{ .Site.Params.HeaderColorBG }};
    {{ else  }}
    background-color: mediumseagreen;
    {{ end }}

    {{ if .Site.Params.HeaderColorFG }}
    color: {{ .Site.Params.HeaderColorFG  }};
    {{ else }}
    color: whitesmoke;
    {{ end }}
    
}

</style>

<link rel="stylesheet" href="/css/main.css">

<!-- custom -->
{{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . }}"> {{ end }}
