
</div>

<div id="footer">

  {{ partial "ads" . }}

  {{ block "content-footer" . }}
  {{ end }}

  <button id="themer" class="center" type="button">enlighten</button>

  <div class="menu center">
    {{ if .Site.Menus.icons }}
      <ul>
        {{ range sort .Site.Menus.icons }}
        <li><a href="{{ .URL }}" aria-label="{{ .Name }}"><i class="fa-3x {{ .Pre }}"></i></a></li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
    
  <div class="center">
    {{ .Site.Params.copyright | default "© All Rights Reserved" | markdownify }} 
  </div>

</div>

{{ partial "js_theme" . }}

</body>
</html>

