<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ partial "meta" . }}

    {{ partial "css_theme" . }}

  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
      your browser</a> to improve your experience and security.</p>
    <![endif]-->

    {{ if or (.IsHome)  (.Params.is_home) }}
    <div id="header" class="clearfix home">
      {{ else }}
    <div id="header" class="clearfix">
    {{ end }}

      <!-- Add your site or application content here -->
      <div class="container clearfix">
        <div id="brand">
          {{ partial "brand" . }}
        </div>
        <div id="menu-toggle">
        <i class="fas fa-bars"></i></div>
        <nav>
          {{ if .Site.Menus.main }}
          {{ partial "menu" . }}
          {{ end }}
        </nav>
      </div>
    </div>

    <div class="container">
