<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="/js/plugins.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/main.js"></script>

{{ if .Site.Params.GoogleAnalytics }}
<script>
    window.ga = function () {
        ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', {{ .Site.Prams.GoogleAnalytics }}, 'auto');
    ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
{{ end }}

<!-- custom -->
{{ range .Site.Params.js }} <script src="{{ . }}"></script> {{ end }}
