{{ $currentPage := . }}

<ul class="nav navbar-nav menu">

{{ range sort .Site.Menus.main }}

  {{ .Page }}

  <li class="nav-item{{ if .HasChildren }} nav-toggle{{ end }}{{ if ($currentPage.HasMenuCurrent "main" .) or ($currentPage.IsMenuCurrent "main" .) }} active{{ end }}">
    {{ partial "menu-item" . }}
  </li>

  {{ if .HasChildren }}
  <ul class="nav-sub-menu">
    {{ range .Children }}
    <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }}active{{end}}">
       {{ partial "menu-item" . }}
      </li>
    {{ end }}
  </ul>
  {{ end }}

{{ end }}
</ul>

