
#page-resume {
    font-size: smaller;
}

#page-resume ul {
    list-style: disc outside url('/image/bullet.gif');
}

#page-resume #avatar {
    border-radius: 50%;
    height: 7em;
    width: 7em;
    float: right;
}

#page-resume h1 {
    font-size: 3.3em;
}

#page-resume #contact-info {
    margin-bottom: 1.5em;
}

#page-resume #contact-info .links {
    text-align: left;
}

#page-resume #contact-info i {
    width: 2em;
    margin-left: 2em;
}

#page-resume h2 {
    font-size: 1.6em;
    margin-top: 2.5em;
    margin-left: 0.5em;
}

#page-resume .card h2 {
    font-size: 1.5em;
    border-bottom: none;
    margin-top: 0;
    margin-left: 0;
}

#page-resume .card h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
    border-bottom: 1px solid silver;
}

#page-resume .card h5 {
    font-size: 1.1em;
    color: #666;
    font-style: normal;
    margin-bottom: 0.4em;
}

#page-resume .keywords {
    font-style: italic;
    margin-bottom: 1em;
    display: block;
    margin-left: 1em;
    font-size: 0.85em;
    color: #666;
}

#page-resume .card ul {
    margin-left: 1em;
}

#page-resume .card ul + h5 {
    margin-top: 1.5em;
}

@media print {

    #page-resume {
        font-size: 12px;
    }

    #page-resume h1 {
        text-align: left;
        font-size: 2.5em; 
    }

    #page-resume h2 {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
    }

    #page-resume .card {
        margin: 0;
        padding: 0;
    }

    #page-resume a:after {
        content: "";
    }

    #page-resume #avatar {
        display: none;
    }
    #page-resume #contact-info {
        width: 100%;
    }

    #page-resume #contact-info div {
        display: inline;
    }

    #page-resume #contact-info i {
        width: auto;
        margin-right: 5px;
        margin-left: 5px;
    }
}
