/* line 2, /Users/ryanjennings/.Devel/blog/app/styles/main.scss */
#header-title {
  padding: 10px 10px 0 10px; }
  /* line 6, /Users/ryanjennings/.Devel/blog/app/styles/main.scss */
  #header-title .logo-wrap .logo {
    background-image: none;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-family: Source Code Pro, monospace; }
  /* line 15, /Users/ryanjennings/.Devel/blog/app/styles/main.scss */
  #header-title .subtitle-wrap {
    float: right; }
  /* line 19, /Users/ryanjennings/.Devel/blog/app/styles/main.scss */
  #header-title img {
    float: left;
    border-radius: 50%;
    margin: 0 20px 10px 10px; }

/* line 27, /Users/ryanjennings/.Devel/blog/app/styles/main.scss */
.figure .caption {
  display: none; }

/* line 32, /Users/ryanjennings/.Devel/blog/app/styles/main.scss */
#avatar {
  border-radius: 64px;
  border: 1px solid #9a9ea3;
  height: 128px;
  width: 128px; }

/* line 41, /Users/ryanjennings/.Devel/blog/app/styles/main.scss */
.credit .logo-wrap a {
  font-size: 3em;
  font-family: Source Code Pro, monospace; }

/* line 46, /Users/ryanjennings/.Devel/blog/app/styles/main.scss */
.credit .logo-wrap .logo {
  background: none; }

@media only print {
  /* line 2, /Users/ryanjennings/.Devel/blog/app/styles/print.scss */
  #comments {
    display: none; }
  /* line 5, /Users/ryanjennings/.Devel/blog/app/styles/print.scss */
  #header {
    display: none; }
  /* line 8, /Users/ryanjennings/.Devel/blog/app/styles/print.scss */
  #sidebar {
    display: none; }
  /* line 11, /Users/ryanjennings/.Devel/blog/app/styles/print.scss */
  #main-nav-mobile {
    display: none; }
  /* line 14, /Users/ryanjennings/.Devel/blog/app/styles/print.scss */
  #footer {
    display: none; }
  /* line 18, /Users/ryanjennings/.Devel/blog/app/styles/print.scss */
  .article-inner .article-footer {
    display: none; }
  /* line 22, /Users/ryanjennings/.Devel/blog/app/styles/print.scss */
  #contact-info {
    display: block; } }

/* line 3, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
#projects .tabs {
  padding: 0 0 0 2em;
  margin: 0; }
  /* line 7, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
  #projects .tabs li {
    list-style-type: none;
    display: inline-block;
    padding: 0.4em;
    margin-left: 0.4em;
    border-bottom: none;
    background-color: #f0f0f0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em; }
  /* line 18, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
  #projects .tabs .active {
    background-color: #fff; }
    /* line 21, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
    #projects .tabs .active a {
      font-weight: bold; }

/* line 28, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
#projects #open-source .panel-heading, #projects #closed-source .panel-heading {
  display: none; }

/* line 32, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
#projects #open-source .list-group-item, #projects #closed-source .list-group-item {
  list-style-type: none;
  margin-bottom: 0.4em; }
  /* line 36, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
  #projects #open-source .list-group-item a, #projects #closed-source .list-group-item a {
    font-size: 1.5em; }

/* line 42, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
#projects .tab-content {
  background: #fff;
  padding: 0.25em 0.5em 0 0.5em;
  margin: 0;
  position: relative;
  top: 0;
  left: 0; }
  /* line 50, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
  #projects .tab-content .tab-pane {
    display: none; }
  /* line 54, /Users/ryanjennings/.Devel/blog/app/styles/projects.scss */
  #projects .tab-content .active {
    display: block; }

/* line 3, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
#page-resume #contact-info {
  display: none; }

/* line 7, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
#page-resume span.keywords {
  font-size: smaller;
  margin-left: 1em; }

/* line 13, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
#page-resume dl dt {
  display: list-item;
  list-style-image: url("/images/bullet.gif");
  margin-left: 0;
  margin-right: 8px; }

/* line 20, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
#page-resume table {
  margin: 1em 0 1em 0;
  width: initial; }
  /* line 24, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
  #page-resume table td {
    text-align: left;
    margin: 0;
    padding: 0;
    border: none;
    padding-right: 0.5em; }
    /* line 30, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
    #page-resume table td i {
      font-size: 1.4em; }
  /* line 37, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
  #page-resume table img {
    border-radius: 50%;
    margin-right: 1em; }

/* line 43, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
#page-resume .caption {
  display: none; }

/* line 47, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
#page-resume li {
  list-style-image: url("/images/bullet.gif"); }

/* line 51, /Users/ryanjennings/.Devel/blog/app/styles/resume.scss */
#page-resume .well {
  background-color: #fff;
  padding: 0.5em;
  margin: 1em 0 1em 0; }

/* line 3, /Users/ryanjennings/.Devel/blog/app/styles/things.scss */
#things table {
  border: none; }
  /* line 6, /Users/ryanjennings/.Devel/blog/app/styles/things.scss */
  #things table tr {
    border: none; }
    /* line 9, /Users/ryanjennings/.Devel/blog/app/styles/things.scss */
    #things table tr td {
      vertical-align: top;
      border: none;
      width: 140px; }
      /* line 14, /Users/ryanjennings/.Devel/blog/app/styles/things.scss */
      #things table tr td img {
        height: 180px;
        width: 140px;
        border: 1px solid #000; }
    /* line 21, /Users/ryanjennings/.Devel/blog/app/styles/things.scss */
    #things table tr td + td {
      padding-left: 1em;
      width: auto; }

/* line 27, /Users/ryanjennings/.Devel/blog/app/styles/things.scss */
#things .fancybox + .caption {
  display: none; }

/* line 3, /Users/ryanjennings/.Devel/blog/app/styles/timeline.scss */
#timeline .row {
  border-collapse: collapse; }
  /* line 5, /Users/ryanjennings/.Devel/blog/app/styles/timeline.scss */
  #timeline .row div {
    vertical-align: middle; }
  /* line 8, /Users/ryanjennings/.Devel/blog/app/styles/timeline.scss */
  #timeline .row .dot {
    border: 1px dashed black;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-block; }
    /* line 13, /Users/ryanjennings/.Devel/blog/app/styles/timeline.scss */
    #timeline .row .dot .inner {
      border: 1px solid black;
      border-radius: 50%;
      margin: 4px;
      height: 100%;
      width: 100%; }
  /* line 23, /Users/ryanjennings/.Devel/blog/app/styles/timeline.scss */
  #timeline .row .content {
    display: inline-block;
    border-bottom: 1px solid black; }

/* line 28, /Users/ryanjennings/.Devel/blog/app/styles/timeline.scss */
#timeline .border-right {
  border-right: 1px solid black; }

/* line 32, /Users/ryanjennings/.Devel/blog/app/styles/timeline.scss */
#timeline .border-left {
  border-left: 1px solid black; }


/*# sourceMappingURL=app.css.map*/