
// dark background tones
$base03:    #002b36;
$base02:    #073642;

// dark content tones
$base01:    #586e75;
$base00:    #657b83;

// light content tones
$base0:     #839496;
$base1:     #93a1a1;

// light background tones
$base2:     #eee8d5;
$base3:     #fdf6e3;

// colors
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$brand-color: $green;
$background-color: #fefefe;

body {
  background-color: $background-color;
  font-family: 'Source Sans Pro', sans-serif;
  color: $base00;
  min-width: 420px;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: $violet;
}

html body a.no-link {
  color: $background-color !important;
}

html body a.no-link:hover {
  color:$background-color !important;
}

pre, code, kbd {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

form {
  margin-bottom: inherit;
}

#footer {
  font-size: 0.6em;
  font-family: 'Source Code Pro', monospace;
}

hr {
  margin: 2em 0;
}

td {
  border: none
}

/* Utilities */

.smaller {
  font-size: smaller;
}

.center {
  text-align: center;
}

/* Foreground Colors */

.fg-brown {
  color: $yellow;
}

.fg-orange {
  color: $orange;
}

.fg-blue {
  color: $blue;
}

.fg-green {
  color: $green;
}

.fg-red {
  color: $red;
}

/* Background Colors */

.bg-blue {
  background-color: $blue;
  color: $background-color;
}

.bg-green {
  background-color: $green;
  color: $background-color;
}

.bg-red {
  background-color: $red;
  color: $background-color;
}

.bg-orange {
  background-color: $orange;
  color: $background-color;
}

.bg-brown {
  background-color: $yellow;
  color: $background-color;
}

.bg-default {
  background-color: #efefef;
}

/* Cards */

.card {
  padding:  1em;
  border-radius: 10px;
  margin-bottom:  1.5em;

  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  /* Card Customizations */

  &.bg-blue, &.bg-green, &.bg-red, &.bg-orange, &.bg-brown {
    padding: 1.5em;
  }

  &.bg-orange a, &.bg-brown a {
    color: #ffd15d;
  }

  &.bg-red a, &.bg-blue a, &.bg-green a {
    color: navajowhite;
  }

  &.bg-blue a, &.bg-red a, &.bg-green a, &.bg-orange a, &.bg-brown a {
    &:hover {
      color: #f9b54c;
    }
  }

  p {
    margin: 0;
  }
}


/* Header and Navigation */

#header {
  padding-top: 10px;
  padding-bottom: 13px;
  margin-bottom: 2em;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .nav {
    display:  inline-block;
  }

  a {
    font-weight: normal;
    color: $green;
    vertical-align: top;
  }

  #menu-toggle {
    line-height: 0.5em;
    display: none;
    color: $green;
  }

  #brand {
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    width: 315px;
    margin-top: 6px;

    img {
      margin-right: 8px;
    }
  }
  nav {
    float: right;
    position: relative;
    top: 12px;
  }

  ul {
    margin-bottom: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 50px;
    text-align: center;
    border-radius: 5px;

    i {
      color: $green;
    }

    &:last-child {
      margin-right: inherit;
    }
    &:hover, &.active {
      background-color: rgba($green,0.1);
    }
  }

  .navbar-icons li {
    padding: 0;
  }

  &.solid {
    background-color: $green;
    color: $background-color;
    a {
      color: $background-color;
    }

    li {
      &:hover, &.active {
        background-color: rgba(255,255,255,0.1);
      }

      i {
        color: $background-color;
      }
    }
    #menu-toggle {
      color: $background-color;
    }
  }

}

.brand {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container > #main > h1 {
  margin-top: 0;
}

#main {

  h1, h2, h3, h4, h5 {
    margin-top: 1em;
  }

  .image {
    border-radius: 1em;
    border: 1px solid $base1;
    margin: 1em;
  }

  .card {
    &.bg-default {
      &:nth-child(3n-2) {
        background-color: rgba($blue,0.08);
        h4 a {
          color: $blue;
        }
      }

      &:nth-child(3n-1) {
        background-color: rgba($orange, 0.08);
        h4 a {
          color: $orange;
        } 
      }

      &:nth-child(3n) {
        background-color: rgba($green,0.08);
        h4 a {
          color: $green;
        }
      }
    }
  }

  code {
    display: block;
  }

  p > code {
    display: inline;
  }

  p > code.header {
    display: block;
  }

  h2 {
    font-size: 1.8em;
    border-bottom: 1px dashed $green;
  	padding-bottom: 10px;
	}

  h3 {
    font-size: 1.55em;
  }

  h4 {
    font-size: 1.2em;
  }

  .item {
    h4 {
      font-size: 1.2em;
      margin-top: 0;
    }

    h5 {
      font-size:  1em;
      margin-bottom: 1em;
    }

    p {
      font-size:  0.7em;
    }
  }

  .item-tag {
    font-size:  0.7em;
    float:  left;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: RGBA(0, 0, 0, 0.1);
  }

  #related {
    >h5 {
      font-size:  1.2em;
    }

    .item {
      background: none;
      margin:  0 0 1em 0;
      padding: 0;
      h4 {
        font-size: 1em;
      }
      h5 {
        font-size:  0.8em;
      }

      p {
        float: none;
        margin: 0;
        font-size: 0.7em;
        font-style: italic;
      }
    }

    .item-tag {
      display:  none;
    }
  }

  .logo {
    width: 2em;
    height: 2em;
    vertical-align: bottom;
  }

  #intro {
    background: url(/image/logo-bg.svg) no-repeat center;
    background-size: 45vh;
    min-width: 45vh;
    min-height: 45vh;
    text-align: center;

    h1 {
      padding-top: 14vh;
      font-size: 3em;
      font-weight: bold;
      color:  $green;
      margin-bottom: 4px;
    }

    h3 {
      font-size:  1.2em;
      color:  $green;
      margin-bottom: 2em;
    }

    h2 {
      font-size:  1.5em;
      color:  $green;
    }
  }
}

/* Responsiveness */

@media (max-width: 1195px) {

  #header {
    nav {
      .nav-name {
        display: none;
      }
    }
  }
}


@media (max-width: 1000px) {

  #header {
    #menu-toggle {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 15px;
    }

    #brand {
      display: block;
    }
    nav {
      float: none;
      display: none;
      .nav-name {
        display: inline;
      }
    }
    li {
      text-align: left;
      display: block;
    }
    .navbar-icons {
      display: block;

      li {
        display:  inline-block;
        padding-left:  1em;
      }

    }
  }
}

