// dark background tones
$base03: #002b36;
$base02: #073642;

// dark content tones
$base01: #586e75;
$base00: #657b83;

// light content tones
$base0: #839496;
$base1: #93a1a1;

// light background tones
$base2: #eee8d5;
$base3: #fdf6e3;

// colors
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

$brand-color: $green;
//$background-color: #fefefe;
$background-color: $base03;
$foreground-color: $base3;
$highlight: $base1;

$fa-font-path:        "../fonts";

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

@import "mixins";

/* light is default mode, so pair with general html definition */
.light {
  @include rebase(
    $base3,
    $base2,
    $base1,
    $base0,
    $base00,
    $base01,
    $base02,
    $base03
  );
}
html,
.dark {
  @include rebase(
    $base03,
    $base02,
    $base01,
    $base00,
    $base0,
    $base1,
    $base2,
    $base3
  );
}
html {
  font-size: 16px;
}

html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

html body {
  background-color: $background-color;
  font-family: "Source Code Pro", monospace;
  color: $foreground-color;
}

html body {
  a {
    color: $blue;
    text-decoration: none;
  }

  a:hover {
    color: $orange;
  }

  a:visited {
    color: $violet;
  }

  a.no-link {
    color: $background-color !important;
  }

  a.no-link:hover {
    color: $background-color !important;
  }
}

pre,
code,
kbd {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

form {
  margin-bottom: inherit;
}

#footer {
  font-size: 0.6rem;
  font-family: "Source Code Pro", monospace;
  margin-top: 3rem;
}

hr {
  margin: 2em 0;
  border-top: 1px solid $base0;
}

pre {
  hr {
    margin: 0;
  }
}

td {
  border: none;
}

/* Utilities */

.smaller {
  font-size: smaller;
}

.center {
  text-align: center;
}

/* Foreground Colors */

.fg-brown {
  color: $yellow;
}

.fg-orange {
  color: $orange;
}

.fg-blue {
  color: $blue;
}

.fg-green {
  color: $green;
}

.fg-red {
  color: $red;
}

/* Background Colors */

.bg-blue {
  background-color: $blue;
  color: $background-color;
}

.bg-green {
  background-color: $green;
  color: $background-color;
}

.bg-red {
  background-color: $red;
  color: $background-color;
}

.bg-orange {
  background-color: $orange;
  color: $background-color;
}

.bg-brown {
  background-color: $yellow;
  color: $background-color;
}

.bg-default {
  //background-color: #efefef;
}

/* Cards */

.card {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  /* Card Customizations */

  &.bg-blue,
  &.bg-green,
  &.bg-red,
  &.bg-orange,
  &.bg-brown {
    padding: 1.5rem;
  }

  &.bg-orange a,
  &.bg-brown a {
    color: #ffd15d;
  }

  &.bg-red a,
  &.bg-blue a,
  &.bg-green a {
    color: navajowhite;
  }

  &.bg-blue a,
  &.bg-red a,
  &.bg-green a,
  &.bg-orange a,
  &.bg-brown a {
    &:hover {
      color: #f9b54c;
    }
  }

  p {
    margin: 0;
  }
}

/* Header and Navigation */

#header {

  @include header-norm;

  padding-top: 10px;
  padding-bottom: 13px;
  margin-bottom: 2rem;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  .container {
    max-width: 1300px
  }

  a {
    font-weight: normal;
    color: $base00;
  }

  #menu-toggle {
    float: right;
    color: $base00;
  }

  #brand {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 8px;

    img {
      margin-right: 8px;
    }
  }
  nav {
    float: right;
    margin-top: 12px;

    .nav-name {
      margin-left: 8px;
    }
  }

  ul {
    margin-bottom: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 50px;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;

    i {
      color: $base00;
    }

    &:last-child {
      margin-right: inherit;
    }
    &:hover,
    &.active {
      background-color: rgba($highlight, 0.1);
    }
  }

  .navbar-icons li {
    padding: 0;
    min-width: 50px;
  }

  &.solid {
    background-color: $base00;
    color: $background-color;
    a {
      color: $background-color;
    }

    li {
      &:hover,
      &.active {
        background-color: rgba($highlight, 0.1);
      }

      i {
        color: $background-color;
      }
    }
    #menu-toggle {
      color: $background-color;
    }
  }
}

.brand {
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container > #main > h1 {
  margin-top: 0;
}

#main {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 1rem;
  }

  .timestamps {
    font-size: 0.8rem;
  }

  .image {
    border-radius: 1rem;
    border: 1px solid $base1;
    margin: 1rem;
  }

  .card {
    &.bg-default {
      &:nth-child(3n-2) {
        background-color: rgba($blue, 0.08);
        h4, a {
          color: $blue;
        }
      }

      &:nth-child(3n-1) {
        background-color: rgba($orange, 0.08);
        h4, a {
          color: $orange;
        }
      }

      &:nth-child(3n) {
        background-color: rgba($green, 0.08);
        h4, a {
          color: $green;
        }
      }
    }
  }

  code {
    display: block;
  }

  p > code,
  li > code {
    display: inline;
    background-color: rgba($highlight, 0.1);
    border: none;

    &.header {
      display: block;
      font-style: italic;
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
    border-bottom: 1px dashed $green;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.75rem;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba($green, 0.3);
  }

  h4 {
    font-size: 1.65rem;
  }

  h5 {
    font-size: 1.55rem;
  }

  .item {
    h4 {
      font-size: 1.7rem;
      margin-top: 0;
    }

    h5 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .item-tag {
    font-size: 1rem;
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    background-color: RGBA($highlight, 0.1);
  }


  .logo {
    width: 2rem;
    height: 2rem;
    vertical-align: bottom;
  }

  #intro {
    //background: url(/image/logo-bg.svg) no-repeat center;
    //background-size: 45vh;
    //min-width: 45vh;
    //min-height: 45vh;
    text-align: center;
    padding-top: 16vh;

    #avatar {
      border-radius: 50%;
      height: 4.5em;
      width: 4.5em;
      border: 4px solid $base03;
      vertical-align: sub;
    }
    h1 {
      font-size: 3rem;
      font-weight: bold;
      //color: $green;
      margin-top: auto;
      margin-bottom: 4px;
    }

    h3 {
      font-size: 1.2rem;
      color: $base00;
      margin-bottom: 2rem;
      border: none;
    }

    h2 {
      font-size: 1.5rem;
      color: $green;
    }
  }

  blockquote {
    display: inline-block;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding-left: 60px;
    padding-right: 40px;
    margin-bottom: auto;
  
    span {
      &.quote {
        @extend %fa-icon;
        @extend .fas;
        font-size: 30px;
        position: absolute;
      }
      &.left {
        top: -4px;
        left: 10px;
        &:before {
          content: fa-content($fa-var-quote-left);
        }
      }
      &.right {
        top: 4px;
        right: 10px;
        &:before {
          content: fa-content($fa-var-quote-right);
        }
      }
    }
  }
}

#related {
  > h5 {
    font-size: 1.5rem;
  }

  .item {
    background: none;
    margin: 0 0 1em 0;
    padding: 0;
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1rem;
    }

    p {
      float: none;
      margin: 0;
      font-size: 0.8rem;
      font-style: italic;
    }
  }

  .item-tag {
    display: none;
  }
}

/* Responsiveness */

@media (max-width: 1620px) {
  #header:not(.home) {
    @include header-nameless;
    #brand {
      display: inline-block;
    }
  }
}

@media (max-width: 1120px) {
  #header:not(.home) {
    @include header-menu;
  }
}

.pull-right {
  float: right;
}
