{{ partial "head" . }}

<div id="container">
	{{ partial "header" . }}

   	<div class="outer">
   		{{ if .IsPage | and (not .Params.disable_profile) }}
	    {{ partial "profile" . }}
	    {{ end }}
	<section id="main">
		<article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
			<div class="article-entry" itemprop="articleBody">
		    {{ .Content }}
		</div>
		</article>
	</section>
	    {{ if .IsPage | and (not .Params.disable_widgets) }}
	    {{ partial "sidebar" . }}
	    {{ end }}
	</div>
</div>

{{ partial "footer" . }}
</body>
</html>
