{{ if .Parent.Params.Indexing }}
  {{ $.Scratch.Set "link" .RelPermalink }}
  {{ printf "%d %s" .WordCount (cond (eq .WordCount 1) "word" "words") | $.Scratch.Set "wordCount" }}
  {{ printf "%#v min read" .ReadingTime | $.Scratch.Set "readTime" }}
{{ end }}
{{ with .Params.xref }} {{ $.Scratch.Set "link" . }} {{ end }}
<div class="card item bg-default {{ with .File }}{{ path.Base .Dir }}{{ end }} clearfix"{{ with $.Scratch.Get "link" }}data-link="{{ . }}"{{ end }}>
   
  <div class="card-header">
    <h1>
        {{ if .Params.icon }}<i class="fas fa-{{ .Params.icon }}"></i>{{ end }}
        {{ .Title }}
    </h1>
    {{ if .Date }}
    <div class="card-date">{{ .Date.Format (.Site.Params.dateFormat | default "Jan 2, 2006") }}</div>
    {{ end }}
  </div>
  <div class="card-content">
    {{ if .Params.Image }}
      <img src="{{ .Params.Image }}" alt="{{ .Name }}">
    {{ end }}
    <p>{{ .Description | markdownify }}</p>
  </div>

    <div class="card-footer">
      {{if .Params.tags }}
        <div class="item-tags">
        {{ range .Params.tags }} 
           <span class="item-tag">{{ . }}</span> 
        {{ end }}
        </div>
      {{ end }}
    {{ if .Parent.Params.Indexing }}
       <div>{{ $.Scratch.Get "readTime" }}</div>
    {{ end }}

    </div>
</div>
