.thing {

    h4 {
        font-size: 1.2em;
        margin-top: 0;
        margin-bottom: 12px;
    }

    p {
        font-size:  0.8em;
    }

    img {
        width:  3em;
        height: 4em;
        margin-right: 1em;
        float:  left;
    }
}

.imgbox {
    border: 1px solid silver;
    border-radius: 12px;
    margin: 1em;
}


