
#page-resume {
    font-size: smaller;

    ul {
        list-style: disc outside url('/image/bullet.gif');
    }

    #avatar {
        border-radius: 50%;
        height: 7em;
        width: 7em;
        float: right;
    }

    h1 {
        font-size: 3.3em;
    }

    #contact-info {
        margin-bottom: 1.5em;

        .links {
            text-align: left;
        }

        i {
            width: 2em;
            margin-left: 2em;
        }

        h2 {
            font-size: 1.6em;
            margin-left: 0.5em;
        }
    }

    .card {
        p, li {
            font-size: 0.9em;
        }

        h2 {
            font-size: 1.5em;
            border-bottom: none;
            margin-top: 0;
            margin-left: 0;
        }

        h3 {
            font-size: 1.1em;
            margin-bottom: 1em;
            margin-top: 0;
            border-bottom: 1px solid silver;
        }

        h4 {
            font-weight: 600;
            font-size: 0.9em;
        }

        p + h4, p + h5 {
            margin-top: 0.5em;
        }

        h5 {
            font-weight: 600;
            font-size: 0.77em;
        }

        .keywords {
            display: block;
            font-size: 0.75em;
            margin: 5px 0 0 0;
        }

        ul {
            margin-left: 1em;
            margin-bottom: 0;
        }

        ul + h5 {
            margin-top: 1.5em;
        }
    }
}
@media print {

    #page-resume {
        font-size: 16px;

        h1 {
            text-align: left;
            font-size: 2.5em; 
        }

        h2 {
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
        }
        h3 {
            margin-top: 2em;
        }

        .card {
            margin: 0 0 1em 0;
            padding: 0;
            background: none;
            filter: unset;
        }

        a:after {
            content: "";
        }

        #avatar {
            display: none;
        }
        #contact-info {
            width: 100%;

            div {
                display: inline;
            }
            i {
                width: auto;
                margin-right: 5px;
                margin-left: 5px;
            }
        }

        blockquote {
            border: none;
        }

    }
}

